# Configurações do Banco de Dados (Domínio Sistemas)
# O DOMINIO_HOST pode ser um IP (ex: 192.168.1.100), 'localhost' ou um endereço de rede (ex: endereco.banco)
DOMINIO_HOST=192.168.0.10
DOMINIO_PORT=1111
DOMINIO_DB=nome_do_banco_de_dados
DOMINIO_USER=seu_usuario_odbc
DOMINIO_PASSWORD=sua_senha_odbc
DOMINIO_ENGINE=dominio

# Configurações da Regra de Negócio e-BEF
EBEF_ANO_REFERENCIA=2025
EBEF_CODIGO_MAXIMO=9999